.mainIndex-scrollContainer {
  position: absolute;
  bottom: 5%;
  left: 2%;
  animation: upDown 2s linear infinite;
}

.mainIndex-scroll {
  width: 3rem;
}

@media screen and (max-width: 600px) {
  .mainIndex-scrollContainer {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .mainIndex-scroll {
    width: 2rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1025px) {
  .mainIndex-scrollContainer {
    left: 6%;
  }
}

@keyframes upDown {
  0%,
  100% {
    bottom: 5%;
    left: 2%;
  }
  50% {
    bottom: 8%;
    left: 2%;
  }
}
