@font-face {
  font-family: Nunito-Reg;
  src: url(./assets/fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito-Semi;
  src: url(./assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: Nunito-Bold;
  src: url(./assets/fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Oxy-Reg;
  src: url(./assets/fonts/Oxygen-Regular.ttf);
}
@font-face {
  font-family: Oxy-Bold;
  src: url(./assets/fonts/Oxygen-Bold.ttf);
}


.App {
  position: relative;
}
