:root {
	--lightPurple: #934aff;
	--darkPurple: #7619ff;
	--lightBg: #fcfcfc;
	--darkBg: #373737;
	--mobileTextSize: 0.8rem;
	--tabTextSize: 0.6rem;
	--pcTextSize: 0.8rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
