:root {
	--lightPurple: #e4d2ff;
	--darkPurple: #571b7e;
	--darkDescriptionColor: #777777;
	--ligthDescriptionColor: #a0a0a0;
	--lightBg: #fcfcfc;
	--darkBg: #2d242e;

	--darkThemeHeader: #ffff33;
	--lightThemeHeader: #571b7e;

	--pcTextSizeButton: 0.9rem;
	--tabTextSizeButton: 0.65rem;
	--mobileTextSize: 0.9rem;
	--tabTextSize: 0.75rem;
	--pcTextSize: 1rem;
}

::-moz-selection {
	/* Code for Firefox */
	color: var(--lightBg);
	background: var(--darkPurple);
}

::selection {
	color: var(--lightBg);
	background: var(--darkPurple);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
